@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* CSS */
.mobile,
.desktop,
.tablet,
.phablet {
  display: none; /* By default, all are hidden */
}

/* Mobile-first approach */
@media (max-width: 480px) {
  .mobile {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .tablet {
    display: block;
  }
}

@media (min-width: 1025px) {
  .desktop {
    display: block;
  }
}